<p>
	<%= link_to "Back to dashboard", user_path(@user) %> 
</p>

<h1>Products</h1>
<p>These are all of the products belonging to <%= @user.first_name %>:</p>

<% @user.products.each do |product|  %> 
<li>Kind: <%= product.kind  %> <%= link_to("Show Product", [@user, product]) %></li>
<% end %> 
</ul>

