<div class="container">

	<h1>Map Page</h1>



	<div id='map'>
	<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiaHlwZXJqdWljZSIsImEiOiIwNmNmYjFmYzY2MjIyMjBkYTFjYWJiZWQ3NGZhZjkxMyJ9.nkuZ1eUGDblRS7pm8IAy-A';
	var map = L.mapbox.map('map', 'hyperjuice.mbd96bic')
	    .setView([37.865626, -122.280749], 13);
	    L.control.locate().addTo(map);
	</script>
	</div>

</div>	