<div class="homefont">
	<h1>Map Page</h1>
</div>

<%= javascript_include_tag 'theMap', 'data-turbolinks-track' => true %>

<div>
	<% @products.each do |product| %>
	  <%= link_to product.kind, user_product_path(product.user, product), class: "btn btn-default" %>
	<% end %>
</div>	

<div id='map'>
</div>