<div class="container">

	<h1>Map Page</h1>

	<!-- START LEAFLET LOCATE -->

	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
	<!--[if lt IE 9]>
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
	<![endif]-->
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />

	<!-- END LEAFLET LOCATE -->

	<div id='map'>
	<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiaHlwZXJqdWljZSIsImEiOiIwNmNmYjFmYzY2MjIyMjBkYTFjYWJiZWQ3NGZhZjkxMyJ9.nkuZ1eUGDblRS7pm8IAy-A';
	var map = L.mapbox.map('map', 'hyperjuice.mbd96bic')
	    .setView([37.865626, -122.280749], 13);
	    L.control.locate().addTo(map);
	</script>
	</div>

	<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>

</div>	